.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 50px;
  box-sizing: border-box;
  max-width: 45%;
}

h1 {
  font-family: Garamond, serif;
  font-size: 18pt;
  line-height: 2;
  color: #0303AB
}

p {
  font-family: Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.5;
  color: #0303AB
    
}

img {
  width: 20%;
  height: auto;
}

body {
  cursor: url('trumpet_cursor.png'), auto;
}
 
  a {
  font-family: Arial, sans-serif;
  font-size: 12pt;
  line-height: 1;
  color: #ff6600
  text-decoration: underline;
}

a:hover {
  color: red;
}
