header img {
  width: 18%;
  height: auto;
  display: inline-block;
  margin-right: 20px;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 50px;
  box-sizing: border-box;
  max-width: 45%;
}

h1 {
  font-family: Garamond, serif;
  font-size: 18pt;
  line-height: 2;
  color: #0303AB
}

p {
  font-family: Arial, sans-serif;
  font-size: 12pt;
  line-height: 1;
  color: #0303AB
    
}

p2 {
  font-family: Arial, sans-serif; italic
  font-size: 12pt;
  color: #0303AB

img {
  width: 10%;
  height: auto;
}
  
/* Import custom cursor image */
body {
  cursor: url('trumpet_cursor.png'), auto;
}
 
  a {
  color: #0303AB;
  text-decoration: italic;
}

a:hover {
  color: red;
}
